<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Wallpaper Unnotcher</title>
    <link rel="icon" type="image/x-icon" href="/static/icon-192x192.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
    <link rel="manifest" href="/manifest.json">
    <% preact.headEnd %>
</head>
<body>
<div id="root">
    javascript is not enabled
</div>
<% preact.bodyEnd %>
</body>
</html>
